.loading {
    animation: pulse 1.5s infinite ease-in-out;
    opacity: 0.8;
  }
/*   
  @keyframes pulse 
  {
    0% {
      background-color: rgba(165, 165, 165, 1)
    },
    50% {
      background-color: rgba(165, 165, 165, .4)
    },
    100% {
      background-color: rgba(165, 165, 165, 1)
    }
  } */

  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  /*SLIDER*/

.slick-prev:before, .slick-next:before {
  color: #193161;
}
.MuiDialogTitle-root{
  background-color:#193161;
  color:white;
}
.MuiDialog-paper .MuiSvgIcon-root{
  fill: white;
}
.MuiDialog-paper{
  border-radius: 20px !important;
}

.Mui-checked .MuiSwitch-thumb::before{
  position:absolute;
  content: '✔';
  left:7px;
  top:2px;
  font-size:16px;
}